<form action="/api/user" method="post">
    Name: <input name="name">
    <br>
    Email: <input type="email" name="email" autocomplete="current-password">
    <br>
    Password: <input type="password" name="password" autocomplete="current-password">
    <hr>

    <button type="summit">Registrar usuario</button>

</form>